# Auto detect text files and perform LF normalization
* As relações de trabalho passaram por muitas modificações ao longo do tempo, e hoje em dia é comun, encontrar alguém que depois de um tempo decide se reinventar e investir em uma nova área.